body{
    margin: 0;
    padding: 0;
    background-color: #E1E1E1;
}
p{
    font-family: calibri;
}
.options-section{
    text-align: center;
    width: 50%;
    height: auto;
    background-color: white;
    position: absolute;
    padding: 20px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.options-section button{
    display: block;
    width: 200px;
    height: 35px;
    font-size: 15px;    
    margin: 0 auto;
    border: none;
    color: white;
    background-color: #FF1111;
    font-weight: 600;
}
.options-section::after{
    content: "";
    display: block;
    padding-top: 20px;
    border-bottom: 1px solid red;
}
.options-section button:hover{
    opacity: 0.9;
}
.options-section img{
    width: 20%;
    height: auto;
}
.content-container img{
    display: block;
    margin: 0 auto;
    width: 20%;

}
.options-section h1 , .header h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4848;
}
.header h1{
    color: tomato;
}

h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4848;
}
.header{
    border-bottom: rgb(238, 81, 81) solid 8px;
}
.header p{
    position: relative;
    color: red;
    opacity: 0.6;
    font-weight: 600;
    font-size: large;
}
.content-container{
    overflow: hidden;
    position: relative;
    width: 75%;
    height: 60vh;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.content{
    padding: 15px;
    font-family: calibri;
}
.slide-controls img{
    position: absolute;
    top: 50%;
    width: 10%;
}
.left-arrow{
    left: 0%;
}
.right-arrow{
    right: 0%;
}
